<div class="banner" style ="background-image: linear-gradient(rgba(51,51,51,6.4),rgba(45,45,45,8.4))">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="row_left">
        <h1 class="title">Caroline Faugas</h1>
        <p>cfaugas@hotmail.com <br />
        Bordeaux / freelance </p><br />
        <p id="skills">Photoshop / InDesign / Illustrator <br />
        Figma / Sketch <br /><br />
        HTML5 / CSS3 / JS / Ruby On Rails <br />
        Bootstrap <br /><br />
        Photographie</p>
      </div>
      <div class="row_right">
        <h1 class="title">Webdesigner<br />Intégrateur<br />Emailing</h1>
        <p>Télécharger CV</p>
      </div>
    </div>
  </div>
  <div class="chevron w-100 text-center">
      <a href="#tips"><i class="chevron fas fa-1x fa-chevron-down pulse"></i></a>
  </div>
</div>
