<div style ="background-image: linear-gradient(rgba(51,51,51,6.4),rgba(45,45,45,8.4))">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="row_left">
          <h1 class="title">Caroline Faugas</h1>
          <p>cfaugas@hotmail.com <br />
          Bordeaux / freelance </p><br />
          <p id="skills">Photoshop / InDesign / Illustrator <br />
            Figma / Sketch <br /><br />
            HTML5 / CSS3 / JS / Ruby On Rails <br />
            Bootstrap <br /><br />
          Photographie</p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row_right">
          <h1 class="title">Webdesigner<br />Intégrateur<br />Emailing</h1>
          <p><%= link_to "Télécharger CV", download_pdf_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6" id="separation">
      <div>
        <h2 class="webprint">
          W.E.B
        </h2>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 200px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#briscadieu"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574429250/portfolio/emailing_briscadieu.jpg" alt="Briscadieu">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="briscadieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Briscadieu </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574429250/portfolio/emailing_briscadieu.jpg" alt="Briscadieu" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Briscadieu</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div>
        <h2 class="webprint">
          P.R.I.N.T
        </h2>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 200px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#briscadieu"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574429250/portfolio/emailing_briscadieu.jpg" alt="Briscadieu">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="briscadieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Briscadieu </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574429250/portfolio/emailing_briscadieu.jpg" alt="Briscadieu" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Briscadieu</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-product">
            <div class="img-hover-zoom--colorize">
              <label for="zoomCheck">
                <img  data-toggle="modal" data-target="#exampleModal"  src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb">
              </label>
              <!-- The Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Gadyamb </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1574269127/portfolio/email_gadyamb.jpg" alt="gadyamb" style="width: 350px;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product-infos">
              <h2>Gadyamb</h2>
              <p>Emailing <strong>responsive</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div style ="background-image: linear-gradient(rgba(51,51,51,6.4),rgba(45,45,45,8.4))">
  <div class="container">
    <p class="footer"><%= link_to "Et aussi, y a de la bonne musique par ici >>", "https://www.youtube.com/channel/UCZuR1NiBMiyKkVOhUB6Nv8Q/playlists", :target => "_blank", :class=>"test" %></p>
  </div>
</div>
