// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 32px;
  padding-top: 20px
}

.row_left {
  color: #ffffff;
}

.row_right {
  color: #ffffff;
  text-align: right;
}

.row_right p{
  padding-top: 40px;
}

#skills {
  border-left: dashed 1px #454545;
  padding: 20px;
}

a:hover {
  text-decoration: none !important;
  color: #6f6f6f !important;
}

a {
  text-decoration: none !important;
  color: #b1b1b1 !important;
}

/* Your card CSS file */
.card-category {
  color: white;
  display: flex;
  justify-content: center;
  height: 180px;
  background-size: cover;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #999;
  border-radius: 8px;
  box-shadow: 0 0 15px #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  letter-spacing: 3px;
}


